body {
  font: 300 normal 16px 'Houschka Rounded', Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #416D8B;
  font: 700 normal 16px 'Futura PT', sans-serif;
  text-transform: uppercase;
}
h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
  margin-left: .5em;
}
h3 {
  font-size: 1.3em;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
header {
  min-height: 600px;
}
header .header-text {
  text-align: center;
  transform: translateY(80%);
}
header .header-text img {
  margin: 2em auto;
  width: 50%;
}
header .search {
  display: block;
  margin-top: 6em;
  padding: 2em;
  text-align: center;
}
header .well {
  border-radius: 0;
  text-align: center;
}
header input,
header select,
header button {
  border: 1px solid #416D8B;
  padding: .5em;
}
header button {
  background-color: #416D8B;
  color: #ffffff;
}
#home header {
  background: url(../images/force-awakens_wallpaper_004.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#characters header {
  background: url(../images/characters.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#films header {
  background: url(../images/films.jpeg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#species header {
  background: url(../images/cantina.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#planets header {
  background: url(../images/death-star.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#starships header {
  background: url(../images/spaceships.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#vehicles header {
  background: url(../images/x-wing.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.movies-section div div,
section.characters-section div div {
  min-height: 400px;
}
section.movies-section div.row,
section.characters-section div.row {
  padding-left: 2em;
}
section.characters ul {
  text-align: center;
}
section.characters ul a {
  text-decoration: none;
  transition: all 0.4s;
}
section.characters ul a:hover {
  background-color: #416D8B;
  color: #ffffff;
}
section.characters ul li {
  border: 1px solid #416D8B;
  display: inline-block;
  padding: 1em;
  margin: .5em;
}
section.about-section div.well p:first-of-type {
  text-align: center;
  font-size: 120%;
  margin: 2%;
  margin-bottom: 4%;
}
section.about-section div.well p:last-of-type {
  text-align: center;
}
section.about-section div.well ul.aboutList {
  text-align: center;
  margin-bottom: 4%;
}
section.about-section div.well ul.aboutList li {
  padding: 1%;
}
.episode1 {
  background: url(../images/phantom-menace.jpg) no-repeat;
  background-size: contain;
}
.episode2 {
  background: url(../images/attack-of-the-clones.jpg) no-repeat;
  background-size: contain;
}
.episode3 {
  background: url(../images/revenge-of-the-sith.jpg) no-repeat;
  background-size: contain;
}
.episode4 {
  background: url(../images/a-new-hope.jpg) no-repeat;
  background-size: contain;
}
.episode5 {
  background: url(../images/empire-strikes-back.jpg) no-repeat;
  background-size: contain;
}
.episode6 {
  background: url(../images/return-of-the-jedi.jpg) no-repeat;
  background-size: contain;
}
.episode7 {
  background: url(../images/force-awakens-poster.jpg) no-repeat;
  background-size: contain;
}
.episode8 {
  background: url(../images/last-jedi.jpg) no-repeat;
  background-size: contain;
}
.episode9 {
  background: url(../images/rogue8_final_screen.jpg) no-repeat;
  background-size: contain;
}
.episode10 {
  background: url(../images/solonewposter.jpg) no-repeat;
  background-size: contain;
}
.luke {
  background: url(../images/luke.jpg) no-repeat;
  background-size: contain;
}
.vader {
  background: url(../images/vader.jpg) no-repeat;
  background-size: contain;
}
.leia {
  background: url(../images/leia.jpg) no-repeat;
  background-size: contain;
}
.han {
  background: url(../images/han.jpg) no-repeat;
  background-size: contain;
}
.yoda {
  background: url(../images/yoda.jpg) no-repeat;
  background-size: contain;
}
.obi {
  background: url(../images/obi.jpg) no-repeat;
  background-size: contain;
}
.rey {
  background: url(../images/rey.jpg) no-repeat;
  background-size: contain;
}
.ren {
  background: url(../images/ren.jpg) no-repeat;
  background-size: contain;
}
.palpatine {
  background: url(../images/palpatine.jpg) no-repeat;
  background-size: contain;
}
#characters section:first-of-type,
#films section:first-of-type,
#planets section:first-of-type,
#species section:first-of-type,
#starships section:first-of-type,
#vehicles section:first-of-type {
  padding: 4em 2em;
}
#characters section:first-of-type h2,
#films section:first-of-type h2,
#planets section:first-of-type h2,
#species section:first-of-type h2,
#starships section:first-of-type h2,
#vehicles section:first-of-type h2 {
  margin-left: 0;
  text-align: center;
}
#characters section:first-of-type p,
#films section:first-of-type p,
#planets section:first-of-type p,
#species section:first-of-type p,
#starships section:first-of-type p,
#vehicles section:first-of-type p {
  margin-bottom: 2em;
}
#characters section:first-of-type div,
#films section:first-of-type div,
#planets section:first-of-type div,
#species section:first-of-type div,
#starships section:first-of-type div,
#vehicles section:first-of-type div {
  text-align: center;
}
#characters section:first-of-type div h3,
#films section:first-of-type div h3,
#planets section:first-of-type div h3,
#species section:first-of-type div h3,
#starships section:first-of-type div h3,
#vehicles section:first-of-type div h3 {
  text-align: center;
  font-size: 100%;
}
#characters section:first-of-type div aside,
#films section:first-of-type div aside,
#planets section:first-of-type div aside,
#species section:first-of-type div aside,
#starships section:first-of-type div aside,
#vehicles section:first-of-type div aside {
  height: 125px;
}
#characters section:first-of-type div aside p,
#films section:first-of-type div aside p,
#planets section:first-of-type div aside p,
#species section:first-of-type div aside p,
#starships section:first-of-type div aside p,
#vehicles section:first-of-type div aside p {
  margin-top: .5em;
}
#characters section:first-of-type div:nth-of-type(2),
#films section:first-of-type div:nth-of-type(2),
#planets section:first-of-type div:nth-of-type(2),
#species section:first-of-type div:nth-of-type(2),
#starships section:first-of-type div:nth-of-type(2),
#vehicles section:first-of-type div:nth-of-type(2),
#characters section:first-of-type div:nth-of-type(3),
#films section:first-of-type div:nth-of-type(3),
#planets section:first-of-type div:nth-of-type(3),
#species section:first-of-type div:nth-of-type(3),
#starships section:first-of-type div:nth-of-type(3),
#vehicles section:first-of-type div:nth-of-type(3) {
  margin-top: 2em;
}
#characters section:first-of-type div:nth-of-type(2) aside,
#films section:first-of-type div:nth-of-type(2) aside,
#planets section:first-of-type div:nth-of-type(2) aside,
#species section:first-of-type div:nth-of-type(2) aside,
#starships section:first-of-type div:nth-of-type(2) aside,
#vehicles section:first-of-type div:nth-of-type(2) aside,
#characters section:first-of-type div:nth-of-type(3) aside,
#films section:first-of-type div:nth-of-type(3) aside,
#planets section:first-of-type div:nth-of-type(3) aside,
#species section:first-of-type div:nth-of-type(3) aside,
#starships section:first-of-type div:nth-of-type(3) aside,
#vehicles section:first-of-type div:nth-of-type(3) aside {
  border-top: 0.3px solid #416D8B;
  padding: 1em;
}
#characters section:first-of-type div:nth-of-type(2) aside:nth-of-type(1),
#films section:first-of-type div:nth-of-type(2) aside:nth-of-type(1),
#planets section:first-of-type div:nth-of-type(2) aside:nth-of-type(1),
#species section:first-of-type div:nth-of-type(2) aside:nth-of-type(1),
#starships section:first-of-type div:nth-of-type(2) aside:nth-of-type(1),
#vehicles section:first-of-type div:nth-of-type(2) aside:nth-of-type(1),
#characters section:first-of-type div:nth-of-type(3) aside:nth-of-type(1),
#films section:first-of-type div:nth-of-type(3) aside:nth-of-type(1),
#planets section:first-of-type div:nth-of-type(3) aside:nth-of-type(1),
#species section:first-of-type div:nth-of-type(3) aside:nth-of-type(1),
#starships section:first-of-type div:nth-of-type(3) aside:nth-of-type(1),
#vehicles section:first-of-type div:nth-of-type(3) aside:nth-of-type(1),
#characters section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
#films section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
#planets section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
#species section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
#starships section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
#vehicles section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
#characters section:first-of-type div:nth-of-type(3) aside:nth-of-type(3),
#films section:first-of-type div:nth-of-type(3) aside:nth-of-type(3),
#planets section:first-of-type div:nth-of-type(3) aside:nth-of-type(3),
#species section:first-of-type div:nth-of-type(3) aside:nth-of-type(3),
#starships section:first-of-type div:nth-of-type(3) aside:nth-of-type(3),
#vehicles section:first-of-type div:nth-of-type(3) aside:nth-of-type(3) {
  border-right: 0.3px solid #416D8B;
}
#characters section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
#films section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
#planets section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
#species section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
#starships section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
#vehicles section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
#characters section:first-of-type div:nth-of-type(3) aside:nth-of-type(3),
#films section:first-of-type div:nth-of-type(3) aside:nth-of-type(3),
#planets section:first-of-type div:nth-of-type(3) aside:nth-of-type(3),
#species section:first-of-type div:nth-of-type(3) aside:nth-of-type(3),
#starships section:first-of-type div:nth-of-type(3) aside:nth-of-type(3),
#vehicles section:first-of-type div:nth-of-type(3) aside:nth-of-type(3),
#characters section:first-of-type div:nth-of-type(2) aside:nth-of-type(4),
#films section:first-of-type div:nth-of-type(2) aside:nth-of-type(4),
#planets section:first-of-type div:nth-of-type(2) aside:nth-of-type(4),
#species section:first-of-type div:nth-of-type(2) aside:nth-of-type(4),
#starships section:first-of-type div:nth-of-type(2) aside:nth-of-type(4),
#vehicles section:first-of-type div:nth-of-type(2) aside:nth-of-type(4),
#characters section:first-of-type div:nth-of-type(3) aside:nth-of-type(4),
#films section:first-of-type div:nth-of-type(3) aside:nth-of-type(4),
#planets section:first-of-type div:nth-of-type(3) aside:nth-of-type(4),
#species section:first-of-type div:nth-of-type(3) aside:nth-of-type(4),
#starships section:first-of-type div:nth-of-type(3) aside:nth-of-type(4),
#vehicles section:first-of-type div:nth-of-type(3) aside:nth-of-type(4) {
  border-bottom: 0.3px solid #416D8B;
}
#starships section:first-of-type div h3,
#vehicles section:first-of-type div h3 {
  text-align: center;
  font-size: 75%;
}
#starships section:first-of-type div aside,
#vehicles section:first-of-type div aside {
  height: 150px;
}
#starships section:first-of-type div:nth-of-type(4),
#vehicles section:first-of-type div:nth-of-type(4) {
  margin-top: 2em;
}
#starships section:first-of-type div:nth-of-type(4) aside,
#vehicles section:first-of-type div:nth-of-type(4) aside {
  border-top: 0.3px solid #416D8B;
  padding: 1em;
}
#starships section:first-of-type div:nth-of-type(4) aside:nth-of-type(1),
#vehicles section:first-of-type div:nth-of-type(4) aside:nth-of-type(1),
#starships section:first-of-type div:nth-of-type(4) aside:nth-of-type(3),
#vehicles section:first-of-type div:nth-of-type(4) aside:nth-of-type(3) {
  border-right: 0.3px solid #416D8B;
}
#starships section:first-of-type div:nth-of-type(4) aside:nth-of-type(3),
#vehicles section:first-of-type div:nth-of-type(4) aside:nth-of-type(3),
#starships section:first-of-type div:nth-of-type(4) aside:nth-of-type(4),
#vehicles section:first-of-type div:nth-of-type(4) aside:nth-of-type(4) {
  border-bottom: 0.3px solid #416D8B;
}
section {
  padding: 3em 1em;
}
section img {
  margin-bottom: 2em;
}
footer {
  background: url(../images/red-bg.jpg) no-repeat;
  background-size: cover;
  min-height: 300px;
  padding: 5em 2em;
  text-align: center;
}
footer h2 {
  color: #ffffff;
  margin-bottom: .5em;
}
footer ul {
  display: inline-block;
}
footer ul li {
  display: inline;
}
footer .fa {
  color: #ffffff;
  font-size: 1.5em;
  padding: .60em .75em;
  transition: all 0.4s;
}
footer .fa:hover {
  color: #EBD51D;
}
#movies img {
  max-width: 100%;
}
@media screen and (min-width: 600px) {
  header .header-text img {
    width: 40%;
  }
  section.movies-section div div,
  section.characters-section div div {
    min-height: 400px;
    margin-left: 2.5%;
    margin-bottom: 2em;
  }
  #characters section:first-of-type > p,
  #films section:first-of-type > p,
  #planets section:first-of-type > p,
  #species section:first-of-type > p,
  #starships section:first-of-type > p,
  #vehicles section:first-of-type > p {
    padding: 1em;
  }
  #characters section:first-of-type h2,
  #films section:first-of-type h2,
  #planets section:first-of-type h2,
  #species section:first-of-type h2,
  #starships section:first-of-type h2,
  #vehicles section:first-of-type h2 {
    text-align: left;
  }
}
@media screen and (min-width: 1000px) {
  header {
    min-height: 700px;
  }
  header .header-text {
    transform: translateY(50%);
  }
  header .header-text img {
    width: 35%;
  }
  #desc {
    padding-left: 0;
    margin-left: 0;
    border-left: 0;
    width: 60%;
    font-size: 125%;
  }
  section.movies-section div div,
  section.characters-section div div {
    min-height: 400px;
    margin-left: 2.5%;
    margin-bottom: 2em;
    width: 30%;
  }
  #characters section:first-of-type > div,
  #films section:first-of-type > div,
  #planets section:first-of-type > div,
  #species section:first-of-type > div,
  #starships section:first-of-type > div,
  #vehicles section:first-of-type > div {
    padding: 1em 7em 1em 5em;
  }
  #characters section:first-of-type,
  #films section:first-of-type,
  #planets section:first-of-type,
  #species section:first-of-type,
  #starships section:first-of-type,
  #vehicles section:first-of-type {
    padding: 4em;
  }
  #characters section:first-of-type div:nth-of-type(2) aside,
  #films section:first-of-type div:nth-of-type(2) aside,
  #planets section:first-of-type div:nth-of-type(2) aside,
  #species section:first-of-type div:nth-of-type(2) aside,
  #starships section:first-of-type div:nth-of-type(2) aside,
  #vehicles section:first-of-type div:nth-of-type(2) aside,
  #characters section:first-of-type div:nth-of-type(3) aside,
  #films section:first-of-type div:nth-of-type(3) aside,
  #planets section:first-of-type div:nth-of-type(3) aside,
  #species section:first-of-type div:nth-of-type(3) aside,
  #starships section:first-of-type div:nth-of-type(3) aside,
  #vehicles section:first-of-type div:nth-of-type(3) aside {
    border: 0;
    border-right: 0.3px solid #416D8B;
    padding: 1em;
  }
  #characters section:first-of-type div:nth-of-type(2) aside p,
  #films section:first-of-type div:nth-of-type(2) aside p,
  #planets section:first-of-type div:nth-of-type(2) aside p,
  #species section:first-of-type div:nth-of-type(2) aside p,
  #starships section:first-of-type div:nth-of-type(2) aside p,
  #vehicles section:first-of-type div:nth-of-type(2) aside p,
  #characters section:first-of-type div:nth-of-type(3) aside p,
  #films section:first-of-type div:nth-of-type(3) aside p,
  #planets section:first-of-type div:nth-of-type(3) aside p,
  #species section:first-of-type div:nth-of-type(3) aside p,
  #starships section:first-of-type div:nth-of-type(3) aside p,
  #vehicles section:first-of-type div:nth-of-type(3) aside p {
    text-align: center;
    margin-top: .5em;
  }
  #characters section:first-of-type div:nth-of-type(2) aside:last-of-type,
  #films section:first-of-type div:nth-of-type(2) aside:last-of-type,
  #planets section:first-of-type div:nth-of-type(2) aside:last-of-type,
  #species section:first-of-type div:nth-of-type(2) aside:last-of-type,
  #starships section:first-of-type div:nth-of-type(2) aside:last-of-type,
  #vehicles section:first-of-type div:nth-of-type(2) aside:last-of-type,
  #characters section:first-of-type div:nth-of-type(3) aside:last-of-type,
  #films section:first-of-type div:nth-of-type(3) aside:last-of-type,
  #planets section:first-of-type div:nth-of-type(3) aside:last-of-type,
  #species section:first-of-type div:nth-of-type(3) aside:last-of-type,
  #starships section:first-of-type div:nth-of-type(3) aside:last-of-type,
  #vehicles section:first-of-type div:nth-of-type(3) aside:last-of-type {
    border-right: 0;
  }
  #characters section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
  #films section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
  #planets section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
  #species section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
  #starships section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
  #vehicles section:first-of-type div:nth-of-type(2) aside:nth-of-type(3),
  #characters section:first-of-type div:nth-of-type(3) aside:nth-of-type(3),
  #films section:first-of-type div:nth-of-type(3) aside:nth-of-type(3),
  #planets section:first-of-type div:nth-of-type(3) aside:nth-of-type(3),
  #species section:first-of-type div:nth-of-type(3) aside:nth-of-type(3),
  #starships section:first-of-type div:nth-of-type(3) aside:nth-of-type(3),
  #vehicles section:first-of-type div:nth-of-type(3) aside:nth-of-type(3),
  #characters section:first-of-type div:nth-of-type(2) aside:nth-of-type(4),
  #films section:first-of-type div:nth-of-type(2) aside:nth-of-type(4),
  #planets section:first-of-type div:nth-of-type(2) aside:nth-of-type(4),
  #species section:first-of-type div:nth-of-type(2) aside:nth-of-type(4),
  #starships section:first-of-type div:nth-of-type(2) aside:nth-of-type(4),
  #vehicles section:first-of-type div:nth-of-type(2) aside:nth-of-type(4),
  #characters section:first-of-type div:nth-of-type(3) aside:nth-of-type(4),
  #films section:first-of-type div:nth-of-type(3) aside:nth-of-type(4),
  #planets section:first-of-type div:nth-of-type(3) aside:nth-of-type(4),
  #species section:first-of-type div:nth-of-type(3) aside:nth-of-type(4),
  #starships section:first-of-type div:nth-of-type(3) aside:nth-of-type(4),
  #vehicles section:first-of-type div:nth-of-type(3) aside:nth-of-type(4) {
    border-bottom: 0;
  }
  #starships section:first-of-type div:nth-of-type(4) aside,
  #vehicles section:first-of-type div:nth-of-type(4) aside {
    padding: 1em;
    border: 0;
    border-right: 0.3px solid #416D8B;
  }
  #starships section:first-of-type div:nth-of-type(4) aside p,
  #vehicles section:first-of-type div:nth-of-type(4) aside p {
    text-align: center;
    margin-top: .5em;
  }
  #starships section:first-of-type div:nth-of-type(4) aside:last-of-type,
  #vehicles section:first-of-type div:nth-of-type(4) aside:last-of-type {
    border-right: 0;
  }
  #starships section:first-of-type div:nth-of-type(4) aside:nth-of-type(3),
  #vehicles section:first-of-type div:nth-of-type(4) aside:nth-of-type(3),
  #starships section:first-of-type div:nth-of-type(4) aside:nth-of-type(4),
  #vehicles section:first-of-type div:nth-of-type(4) aside:nth-of-type(4) {
    border-bottom: 0;
  }
}
